#profileP {
    background-color: aliceblue;
}

/* rating */


.card {
    background-color: #e9ecef;
	width: 350px;
	border: none;
	box-shadow: 5px 6px 6px 2px #e9ecef;
	border-radius: 12px;
    margin-bottom: 200px;
}

.rate{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}


.rating-card {
  border-radius: 12px;
}

.rating i {
  font-size: 1.2rem;
}


.avatar-image-chat {
    border-radius: var(--border-radius-large);
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 20px;
}
