#profileP {
  background-color: var(--white-color);
}

/* rating */

.card {
  background-color: var(--white-color);
  width: 350px;
  margin-top: 120px;
  border-radius: 12px;
  z-index: 22;
  flex: 0 0 calc(100% / 3); /* by default 3 cards visible on large screen */
  margin-right: 10px;
}

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-card {
  border-radius: 12px;
}

.rating i {
  font-size: 1.2rem;
}

.avatar-image-perso {
  border-radius: var(--border-radius-large);
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
}

.rating-cards-wrapper {
  overflow: hidden;
  height: auto;
  transition: opacity 0.2s ease;
}

.rating-name {
  font-weight: bold;
  font-size: var(--h5-font-size);
  line-height: normal;
}

.rating-details {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}

.rating-authenticity {
  color: var(--p-color);
  font-size: var(--menu-font-size);
}

.rating-comments {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}

.carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  z-index: 13;
}

.carousel {
  flex: 1;
  overflow: hidden;
  margin-right: 30px;
  padding-right: 90px;
}

.track {
  display: flex;
  transition: transform 0.3s ease;
}

.arrow {
  background: rgba(246, 160, 145, 1);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.arrow:hover {
  background: rgba(13, 98, 249, 0.8);
}

/* Display number of cards based on screen size */
@media (max-width: 992px) {
  .card {
    flex: 0 0 calc(100% / 3);
  }
}
@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(100% / 2);
  }
}
@media (max-width: 576px) {
  .card {
    flex: 0 0 100%;
  }
}

.tool-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translateY(20px);
}
.tool-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.5s;
}
.tool-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.tool-icon {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
.stars {
  display: flex;
  gap: 2px;
  margin-top: 0.2rem;
}
.stars i {
  opacity: 0;
  transition: opacity 0.5s;
}
.badge-expert {
  background-color: #28a745;
} /* vert */
.badge-regular {
  background-color: #007bff;
} /* bleu */
.badge-notion {
  background-color: #ffc107;
} /* jaune */
ul {
  padding-left: 0;
  list-style-type: none;
}
