#profileP {
  background-color: var(--white-color);
}

/* rating */

.card {
  background-color: var(--white-color);
  width: 90px;
  width: 350px;
  margin-top: 120px;
  border: none;
  box-shadow: 5px 6px 6px 2px var(--white-color);
  border-radius: 12px;
  z-index: 22;
}

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-card {
  border-radius: 12px;
}

.rating i {
  font-size: 1.2rem;
}

.avatar-image-perso {
  border-radius: var(--border-radius-large);
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
}

.rating-cards-wrapper {
  overflow: hidden;
  height: auto;
  transition: opacity 0.2s ease;
}

.rating-name {
  font-weight: bold;
  font-size: var(--h5-font-size);
  line-height: normal;
}

.rating-details {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}
.rating-comments {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}
