/* rating */

.card {
  background-color: var(--white-color);
  width: 350px;
  min-width: 250px;
  margin-top: 120px;
  border-radius: 12px;
  z-index: 22;

  margin-right: 10px;
}

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-card {
  border-radius: 12px;
}

.rating i {
  font-size: 1.2rem;
}

.avatar-image-perso {
  border-radius: var(--border-radius-large);
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
}

.rating-name {
  font-weight: bold;
  font-size: var(--h5-font-size);
  line-height: normal;
}

.rating-details {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}

.rating-authenticity {
  color: var(--p-color);
  font-size: var(--menu-font-size);
}

.rating-comments {
  color: var(--p-color);
  font-size: var(--copyright-font-size);
}

.carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 13;
}

.carousel {
  flex: 1;
  overflow: visible; /* pour éviter de couper */
}

.track {
  display: flex;
}

.arrow {
  background: rgba(246, 160, 145, 1);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 30;
  position: absolute;
}

.arrow:hover {
  background: rgba(13, 98, 249, 0.8);
}

#arrowLeft {
  left: 10px;
}

#arrowRight {
  right: 10px;/* Display number of cards based on screen size */

}  